<table class = "table table-striped">
    <thead>
        <tr>
            <th> feedbackId </th>
            <th> rating</th>
            <th> feedback</th>
            <th> avgRating</th>
            <th> Product_Id</th>
            <th> Actions</th>
          
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let f of feedback" >
            <td> {{ f.feedbackId }} </td>
            <td> {{ f.rating }} </td>
            <td> {{ f.feedback }} </td>
            <td> {{ f.avgRating }} </td>
            <td> {{ f.product.products_product_id}} </td>
            <button (click) = "updatefeedback(f.feedbackId)" class = "btn btn-info"> Update</button>

            <td>
            </td>
        </tr></tbody></table>
